
/* Usamos la fuente Megrim localmente */
@font-face {
  font-family: 'Megrim';
  src: url('/fonts/Megrim-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Usamos la fuente Montserrat localmente */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 600;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat', sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

#about p {
  font-size: 1.0rem;
}
